<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Electrical Engineering</h1>
            <span>Aalto University</span>
            <span><address>Helsinki, Finland</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Economic feasibility of flow batteries in grid-scale applications.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Degree in Energy  </h1>
            <span>Petrozavodsk University</span>
            <span><address>Petrozavodsk, Russia</address><time>2002 to 2007</time></span>
        </header>
        <p>
            <em>Thesis: Energy supply of an auto-service.</em>
        </p>
    </article>
</section>
