<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Master's Thesis worker</h1>
            <span><address>Aalto University, Helsinki, Finland</address><time>2017 to 2018</time></span>
        </header>
        <p> In my Master's Thesis I studied the economic feasibility of energy storage technology (namely flow batteries) in grid-scale applications. </p>
    </article>
    <article>
        <header>
            <h1>Research assistant</h1>
            <span><address>Aalto University, Helsinki, Finland</address><time>2015 to 2017</time></span>
        </header>
        <p> I took part in research on microgrids and the decentralized renewable energy sources' influence on the conventional distribution power systems. </p>
    </article>
    <article>
        <header>
            <h1>Electrical Engineer</h1>
            <span><address>Karelian Electricity Sale Company, Petrozavodsk, Russia</address><time>2009 to 2014</time></span>
        </header>
        <p> My core tasks were analyzing the clients' demand and electrical supply grid, as well as energy quality monitoring. Also I negotiated with the customers and coordinated the branch offices work.   </p>
    </article>
    <article>
        <header>
            <h1>Power System Inspector</h1>
            <span><address> Russian Federal Service for Technological Supervision </address><time>2007 to 2014</time></span>
        </header>
        <p> I inspected electrical installations in buildings, as well as the regional power generation, transmission, and distribution systems (including substations and small power stations). </p>
    </article>
    <article>
        <header>
            <h1>Electrical Engineer</h1>
            <span><address>Petrozavodskmash Corp., Petrozavodsk, Russia</address><time>2007</time></span>
        </header>
        <p> I verified the current power and electrical networks of the plant, and made updates to their design and schemes, surveyed and maintained the power and electrical equipment. </p>
    </article>
</section>
