<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Volunteer</h1>
            <span><address>FIFA World Cup, Russia</address><time>2018</time></span>
        </header>
        <p>
            Helping and guiding spectators on the stadium.
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Erasmus Student Network, ESN Aalto, Aalto University</address><time>2015 to 2017</time></span>
        </header>
        <p>
            Helping exchange and international students.
        </p>
    </article>
</section>